@mixin fontface($fontsize:0.7rem, $textalign:center) {
    font-size: $fontsize;
    font-weight: bold;
    text-transform: uppercase; 
    text-align: $textalign;
}

@mixin userselect_none {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

$color-primary-text: #ffeb00;
$color-light-text: #eee;
$color-dark-text: #4c4c4c;
$color-dark-background: #151515;

$spacing: 1rem;
$border-radius: 0.1rem;

body {  
    width:100vw;
    height:100vh;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    width:100vw;
    height:100vh;
    display: block;
    position: fixed;
    top:0;
    left:0;
}

form {
    position: fixed;
    top:$spacing;
    right:$spacing;
    z-index: 1;
    background:$color-dark-background; 
    border-radius: $border-radius;
    padding:$spacing * 0.5;  
    
    @include userselect_none();
    
    div {        
        margin-top: $spacing;
        margin-bottom: $spacing*0.5;
        position: relative;
    } 
}

h1 { 
    font-size: 1rem;
    color:$color-light-text;

    @include fontface();
}

small {
    display: block;
    color:$color-dark-text;
    margin: 0;
    
    @include fontface(0.55rem);
}

label {
    color:$color-dark-text;
    display: block;
    margin-bottom: $spacing*0.5;

    @include fontface(0.55rem, left);



    + span {
        position: absolute;
        top:0;
        right:0;
        font-size: 0.65rem;
        font-weight: bold;
        color:$color-light-text;
    }
}

input {
    outline: none;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    } 

    &[type=range] { 
        margin:0;
        width:100%;
        -webkit-appearance: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none; 
            height: $spacing;
            width: $spacing * 0.75;
            background: $color-primary-text;
            border-radius: $border-radius;
        } 

        &::-webkit-slider-runnable-track {  
            background: darken($color-dark-background, 5%);
            height:$spacing;
        }
    }

    &[type="button"] { 
        border-radius: $border-radius;
        background: lighten($color-dark-background, 5%);
        color:$color-light-text;
        padding:0.25rem 1rem;
        border:none;  

        @include fontface();
    }

    &.toggled {
        background: $color-primary-text;
        color:$color-dark-text;
    }
}  
 