@mixin facade {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    position: fixed;
}

canvas {
    width:100vw;
    height:100vh;
    display: block;
    position: fixed;
    top:0;
    left:0;
}

#credit {
    position: fixed;
    bottom:1rem;
    right:1rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    color:#eeeeee; 
    z-index: 1;
    pointer-events: none;

    @include facade()
}

#controls {
    position: fixed;
    top:1rem;
    right:1rem;
    z-index: 1;
    background:#151515; 
    border-radius: 3px;
    padding:0.5rem; 
    
    h1 { 
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        color:#4c4c4c;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bold;
        z-index: 1;
        text-align: center;
    }

    div {
        
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        label {
            color:#4c4c4c;
            font-size: 0.6rem;
            font-weight: bold;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            display: block;
            margin-bottom: .5rem;
        }

        input {
            margin:0;
            outline: none;

            &:disabled {
                opacity: 0.5;
                pointer-events: none;
            }

            &[type=range] { 
                width:100%;
                -webkit-appearance: none;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none; 
                    height: 20px;
                    width: 10px;
                    background: #ffeb00;
                    border-radius: 2px;
                }

                &:disabled {
                    &::-webkit-slider-thumb {
                        background: #444444;                        
                    }
                }

                &::-webkit-slider-runnable-track {  
                    background: #090909;
                    height:20px;
                }
            }

            &[type="button"] {
                display: inline-block;
                border-radius: 3px;
                background: #222;
                color:#eee;
                text-transform: uppercase;
                font-size: 0.7rem;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                padding:0.25rem 1rem;
                border:none;  
            }

            &.toggled {
                background: #ffeb00;
                color:#141414;
            }
        }
        
    }

    inputx {

        height:22px;
        display: inline-block;

        &[type="button"] {
            border-radius: 3px;
            background: #222;
            color:#eee;
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            padding:0.25rem 1rem;
            border:none;  
        }
    }

    @include facade()
}
 